{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-image">
        <figure class="image">
            <br>
            <img src="../static/images/flask+pytorch.png"
                alt="PyTorch">
        </figure>
    </div>
    <div class="card-content">
        <p class="title has-text-black-ter">
            Flask + PyTorch
        </p>
        <br>
        <p class="subtitle has-text-black-ter">This project is aimed to help PyTorch machine learning developers to
            quickly build
            a Flask web app in a Docker container ready to be deployed.
        </p>
        <p>
        <div class="content has-text-black-ter">
            Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at
            eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras
            mattis consectetur purus sit amet fermentum.
        </div>
        <p class="card-footer-item">
            <span>
                <a href="https://github.com/n3rwus/engineering-project"> View on GitHub</a>
            </span>
        </p>
    </div>
</div>
{% endblock %}